.content{
	width: 100%;
	position: absolute;
}

.summaries{
	position : relative;
	width: 77%;
	float: left;
	padding: 8px;
}

.summaries p{
	font-family: Palatino Linotype, serif;
	font-size: 17px;
	text-align: justify;
}

.summaries h4{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
}

#sources{
	position : relative;
	width:20%;
	float: right;
	text-align: center;
}

#sources ul {
	border-left: 5px solid #967a7a;
	list-style-type: none;
	padding: 8px 10px;
	display: block;
}

#sources li{
	padding: 10px;
}

#sources h4{
	text-align: center;
	text-decoration: underline;
	font-family: "Times New Roman", Times, serif;
}

h2{
	font-family: Palatino Linotype, serif;
	font-size: 26px;
	color: #000000;
	text-align: center;
}

a{
	color: #474a3a;
	text-decoration: none;
	display: block;
}

a:hover{
	color: #43374d;
}

a:visited{
	color: #66494b;
}